@model TLCN_WEB.Models.BusinessType

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusinessTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessTypeID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BusinessTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessTypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BusinessTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
