@model IEnumerable<TLCN_WEB.Models.UserType>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserTypeName)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserTypeName)
            </td>
            


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UserTypeID }) |
                @Html.ActionLink("Detail", "Detail", new { id = item.UserTypeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.UserTypeID })
            </td>
        </tr>
    }

</table>

